extends layout

block content
  if msg 
    h2=msg
  div 
    if messages  && messages.length > 0
      for message in messages 
        p !{message.title}
        p !{message.content}
        p #{message.age}
    else 
      p no messages
  
  if error 
    ul 
      li= error